* {
	box-sizing: border-box;
}

body {
	color: #F0F0F0;
	margin: 0;
	font-family: "Times New Roman", serif;
	background-image: url("../images/fallleaves.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(0,0,0,0);
	
}

main {
	display: flex;
	justify-content: space-around;
	min-height: 700px;
	align-items: center;

}

nav {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-column: 7 / span 1;

	/*margin-right: 10%;*/
	/*justify-self: start;*/
	
}

aside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	
}

div {

}

ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

footer {

}

li {
	list-style: none;
	display: inline;
	
	transition: all 700ms ease;
	text-align: center;
}

li:hover {
	background-color: rgba(255,255,255,0.5);
}

input {
	padding: 1% 20% 1% 7%;
	height: 85%;
	margin: auto 0 auto 0;
	border-radius: 7px;
	opacity: 0.5;
	grid-column: 2 / span 5;
	position: relative;
	font-size: 16px;
	color: black;
	/*-webkit-filter:blur(5px);*/
}

h1 {
	font-size: 60px;
	margin: 0;
}

h2 {

}

h3 {
	margin: auto 0 auto 0;
	font-size: 24px;
	justify-self: center;
	opacity: 1;
	grid-column: 1 / span 1;

}

h4 {
	margin: 2% 2% 1% 0;
	color: rgb(189,196,195);

}

a {
	text-decoration: none;
	color: #FFFFFF;
	padding: 1% 5% 1% 5%;
	transition: all 700ms ease;
}

a:hover {
	color: rgba(0,0,0,1);
}

p {
	width: 60%;
	font-size: 16px;
	transition: all 1000ms ease;
}

button {
	border-radius: 2em;
	font-size: 18px;
	padding: 2vw 1vw;
	margin: 1vw 1vw 1vw 0;
	transition: all 500ms ease;
}

button:hover {
	cursor: pointer;
	background-color: rgba(219,170,69,0.7);
}

button:focus {
	outline: 0;
}

.headercenter {
	position: relative;
	height: 5%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 6fr;
	width: 100%;


}

/*.iconholder {
	grid-column: 2 / span 1;
	width: 30%;
	justify-self: start;
	position: relative;
}*/
.magglassicon {
	grid-column: 2 / span 1;
	width: 20%;
	justify-self: start;
	margin: auto 0 auto 10%;
	opacity: 0.8;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.mainarticlecenter {
	display: grid;
	grid-template-rows: 1fr 5fr 2fr;
	grid-template-columns: 1fr;
	width: 60%;
	
}

.mainarticlewrap {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
	
	
}

.mainarticle {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 40%;
	
}

.buttonwrapper {
	width: 60%;
	display: flex;
	justify-content: space-between;

}

.choosedate {
	background-color: #F0F0F0;
	color: #0F0F0F;
}

button.choosedate:hover {
	color: #FFFFFF;
	background-color: #000000;
}

.viewwork {
	background-color: rgba(255,255,255,0.25);
	/*-webkit-backdrop-filter: blur(5px);*/
	/*backdrop-filter: blur(5px);*/
	/*box-shadow: 0 0 10 rgba(255,255,255,0.5);*/
}

.course1, .course2 {
	
	border: 1px solid black;
	border-radius: 2em;
	padding: 5% 10%;
	background-color: rgba(255,255,255,0.25);
}

.course1 {
	margin: 25% 0 5% 0;
}

.course2 {
	margin: 5% 0 40% 0;
}